html {
	font-family: "Open Sans";
}

body {
	background: url("../resources/titelbild.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#wrapper {
	background-color: white;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding: 10px;
	box-shadow: 1px 4px 5px #888888;
	border-radius: 3px;
	text-align: center;
}

#page-wrapper{
	background-color: white;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding: 10px;
	box-shadow: 1px 4px 5px #888888;
	border-radius: 3px;
	text-align: center;
}


.Eingabefeld {
	border-radius: 2px;
	border: 1px solid #888;
	width: 250px;
	height: 30px;
	margin: 5px;
	padding: 2px;
	padding-left: 5px;
}

.submit {
	border-radius: 2px;
	border: 1px solid #888;
	width: 259px;
	height: 34px;
	margin: 5px;
}

.blueBorder{
	border-color: blue;
}

.redErrorBorder{ 
	border-color: red !important; 
}

.Eingabefeld:hover, .Eingabefeld:focus {
	border-color: blue;
}

#linkToAgb {
	font-size: 10px;
	text-decoration: none;
	color: #777;
	margin-right: 50%;
} 

.linkToLoginNRegistration {
	font-size: 10px;
	text-decoration: none;
	color: #777;
	margin-left: 60%;
}

.checkbox {
	margin-top: 20%;	
}

.Fehler {
	background-color: white;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 5px 4px 5px #555;
	border-radius: 3px;
	text-align: center;
}



