html {
	font-family: "Open Sans";
	/*background-color: #eee;*/
}

body {
	background: url("../resources/titelbild.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#hamburgercontainer {
	float:left;
	margin-left: -350px;
	margin-right: auto;
	margin-top: -50px;
	margin-bottom: -50px;
	position: fixed;
	height: 120%;
	width: 400px;	
	background-color: rgba(255, 255, 255, .8);
	padding: 10px;
	border-radius: 5px;
	transition: margin-left 1s ease-in-out;

	
	/*box-shadow: 1px 4px 5px #888888;*/
	/*margin-top: 5%;*/
}

#hamburgercontainer:hover{	
	margin-left: -20px;
	transition: margin-left 1s ease-in-out;
}


#boardcontainer{
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, .8);
	padding: 10px;
	border-radius: 5px;
	
	/*box-shadow: 1px 4px 5px #888888;*/
	/*margin-top: 5%;*/
}

.menuContent{
	margin-left: 30px;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 50px;
	position: fixed;
	transition: margin-left 1s ease-in-out;
}

.menuContent:hover{
	margin-left: 40px;
	transition: margin-left 1s ease-in-out;
}

button {
	border: none;
	font-size: 150%;
	color: #146281;
	background: none;
	transition: all .2s ease;
}

aside {
	float: right;
	clear:right;
	
}

aside ul {
	color: #146281;
	list-style-type: none;
}

ul li {
	margin: 10px;
}

#infoboard {
	height: 525px;
	width: 440px;
}

aside#infoboard h1{
	font-size: 80px;
	padding: 0px;
	margin: 0px;
	color: #555;
}

aside#legend {
	margin-top: 10px;
}

table, th, td {
	border: none;
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	/*margin-left: auto;
	margin-right: auto;*/
}

td {
	width: 25px;
	height: 25px;
	padding: 1px;
	text-align: center;
}

.buttonimg {
	width: 20px;
	height: 20px;
	padding: 0;
	margin-right: 2px;
}

.buttondiv {
	transition: all .2s ease;
}

.buttondiv:hover{
	margin-left: 10px;
	color: #3482a1;
	cursor: pointer;
}

.buttondiv button {
	margin-left: 2px;
	border: none;
	font-size: 150%;
	color: #146281;
	background: none;
	padding: 0;
}

.buttondiv button:hover {
	cursor: pointer;
}

.board_cell {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #74C2E1;
	transition: all .15s ease;
}

.example_cell {
	display: inline-block;
	width: 17px;
	height: 17px;
	padding: 0;
	margin: 1px;
	background-color: #74C2E1;
}


/* ---- Animations & Co. --- */


.fadeoutanim {
	animation-name: fadeout;
	animation-duration: .2s;
	/*animation-fill-mode: forwards;*/
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: .2s;
	/*-webkit-animation-fill-mode: forwards;*/
}

.fadeinanim {
	animation-name: fadein;
	animation-duration: .2s;
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: .2s;
}

.board_cell:hover {
	background-color: #54a2c1;
}

.mouse_down {
	height: 80%;
	width: 80%;
	background-color: #3482a1;
}

.graycol {
	background-color: #555 !important;
}

.redcol {
	background-color: red !important;
}

.darkbluecol {
	background-color: #3482a1 !important;
}

.blackcol {
	background-color: #000 !important;
}

.flipToRed {
	animation-name: flipRed;
    animation-duration: .2s;
	-webkit-animation-name: flipRed;
    -webkit-animation-duration: .2s;
}

.flipToDarkBlue {
	animation-name: flipDarkBlue;
    animation-duration: .2s;
	-webkit-animation-name: flipDarkBlue;
    -webkit-animation-duration: .2s;
}

.flipToGray {
	animation-name: flipGray;
    animation-duration: .2s;
	-webkit-animation-name: flipGray;
    -webkit-animation-duration: .2s;
}

.flipToBlack {
	animation-name: flipBlack;
    animation-duration: .2s;
	-webkit-animation-name: flipBlack;
    -webkit-animation-duration: .2s;
}

.flipToBlue {
	animation-name: flipBlue;
    animation-duration: .2s;
	-webkit-animation-name: flipBlue;
    -webkit-animation-duration: .2s;
}

/*Keyframes*/


@keyframes fadeout {
	0% {
		margin-left: 0px;
		opacity: 1;
	}
	100% {
		margin-left: 50px;
		opacity: 0;
	}
}

@keyframes fadein {
	0% {
		margin-left: -50px;
		opacity: 0;
	}
	100% {
		margin-left: 0px;
		opacity: 1;
	}
}


@keyframes flipBlue {
	0% {
		width: 80%;
		height: 80%;
		background-color: #555;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #555;
	}
	51% {
		background-color: #74C2E1;
	}
	100% {
		width: 100%;
		background-color: #74C2E1;
		height: 100%;
	}
}

@keyframes flipGray {
	0% {
		width: 80%;
		height: 80%;
		background-color: #74C2E1;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #74C2E1;
	}
	51% {
		background-color: #555;
	}
	100% {
		width: 100%;
		background-color: #555;
		height: 100%;
	}
}


@keyframes flipDarkBlue {
	0% {
		width: 80%;
		height: 80%;
		background-color: #74C2E1;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #74C2E1;
	}
	51% {
		background-color: #3482a1;
	}
	100% {
		width: 100%;
		background-color: #3482a1;
		height: 100%;
	}
}

@keyframes flipRed {
	0% {
		width: 80%;
		height: 80%;
		background-color: #74C2E1;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #74C2E1;
	}
	51% {
		background-color: red;
	}
	100% {
		width: 100%;
		background-color: red;
		height: 100%;
	}
}

@keyframes flipBlack {
	0% {
		width: 80%;
		height: 80%;
		background-color: #74C2E1;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #74C2E1;
	}
	51% {
		background-color: black;
	}
	100% {
		width: 100%;
		background-color: black;
		height: 100%;
	}
}

/* --- Webkit --- */



@-webkit-keyframes fadeout {
	0% {
		margin-left: 0px;
		opacity: 1;
	}
	100% {
		margin-left: 50px;
		opacity: 0;
	}
}

@-webkit-keyframes fadein {
	0% {
		margin-left: -50px;
		opacity: 0;
	}
	100% {
		margin-left: 0px;
		opacity: 1;
	}
}


@-webkit-keyframes flipBlue {
	0% {
		width: 80%;
		height: 80%;
		background-color: #555;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #555;
	}
	51% {
		background-color: #74C2E1;
	}
	100% {
		width: 100%;
		background-color: #74C2E1;
		height: 100%;
	}
}

@-webkit-keyframes flipGray {
	0% {
		width: 80%;
		height: 80%;
		background-color: #74C2E1;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #74C2E1;
	}
	51% {
		background-color: #555;
	}
	100% {
		width: 100%;
		background-color: #555;
		height: 100%;
	}
}


@-webkit-keyframes flipDarkBlue {
	0% {
		width: 80%;
		height: 80%;
		background-color: #74C2E1;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #74C2E1;
	}
	51% {
		background-color: #3482a1;
	}
	100% {
		width: 100%;
		background-color: #3482a1;
		height: 100%;
	}
}

@-webkit-keyframes flipRed {
	0% {
		width: 80%;
		height: 80%;
		background-color: #74C2E1;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #74C2E1;
	}
	51% {
		background-color: red;
	}
	100% {
		width: 100%;
		background-color: red;
		height: 100%;
	}
}

@-webkit-keyframes flipBlack {
	0% {
		width: 80%;
		height: 80%;
		background-color: #74C2E1;
	}
	50% {
		height: 80%;
		width: 0%;
		background-color: #74C2E1;
	}
	51% {
		background-color: black;
	}
	100% {
		width: 100%;
		background-color: black;
		height: 100%;
	}
}

