<!doctype html>
<html>
	<head>
  		<meta charset=UTF-8>
  		<title>Startseite Schiffe Versenken</title>
  		<link rel="stylesheet" type="text/css" href="style.css" />
 	</head>
 	
 	<body>
 	<img src="titelbild.jpg" alt="Startbild" style="width:100%;height:500px">
 	<div class=navi>
 	<nav>
 		<ul class=menu>
 			<li class=active><a href=Index.html>Startseite</a> </li>
 			<li><a href=Spiel.html>Spiel</a> </li>
 			<li><a href=Spielregeln.html>Spielregeln</a> </li>
 			<li><a href=Statistik.html>Statistik</a> </li>
 			<li><a href=Impressum.html>Impressum</a> </li>
 		</ul>
 	</nav>
 	</div>
 	<div class=content>
 		Hier ist der Content-Bereich!
 		Hier kommt Begrüßung, das Spiel, die Regeln, Statistiken oder das Impressum rein.
 	</div>
 	
 	<div class=rightColumn>
 		Bli Bla Blub - hier ist die rechte Spalte 
 		
 		--Hier könnte ihr Werbung stehen!--
 	</div>
 	
 	
 	</body>
 	
 	<footer>
 		Footer 
 	</footer>
 </html>