<!doctype html>
<html>
	<head>
  		<meta charset=UTF-8>
  		<title>Startseite</title>
  		<link rel="stylesheet" type="text/css" href="style.css" />
 	</head>
 	
 	<body>
 	<img src="Startbild.jpg" alt="Startbild" style="width:900px;height:350px">
 	<div>
 	<nav>
 		<ul class=menu>
 			<li class=active><a href=Index.html>Startseite</a> </li>
 			<li><a href=suche.html>Reisesuche</a> </li>
 			<li><a href=AngebotdesMonats.html>Angebot des Monats</a> </li>
 			<li><a href=Unternehmen.html>Unternehmen</a> </li>
 		</ul>
 	</nav>
 	
 	
 		Ein bisschen Text zum Testen wie das hier so aussieht hier.
 	</div>
 	
 	<div class=rightColumn>
 		Bli Bla Blub - hier ist die rechte Spalte 
 	</div>
 	
 	
 	</body>
 	
 	<footer>
 		Test test
 	</footer>
 </html>